body{
    background-color: #f7a4b92f;
    margin: 0;padding: 0;
    font-family: 
        monaco,consolas,'微软雅黑'
        -apple-system,
        system-ui,
        BlinkMacSystemFont,
        "Segoe UI",
        "Open Sans",
        "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
}
h1 {
    color: #f79cb3;
}
p,li{
    color: #94002a;
}
hr{
    border: dashed #e97b9a 1px;
}
.content{
    max-width: 600px;height: fit-content;
    background-color: #fdfdff;
    border-radius: 0.5em;
    box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);
    padding: 2em;
    position: absolute;
    left: 0;right: 0;top:0;bottom: 0;
    margin: auto;
}
a{
    color: #da2c58;
    text-decoration-line: none;
}
a:hover{
    color: #ff3366;
    font-weight: 600;
}